extends ../layout
block content
  h1.text-center Ajouter un produit
  form.text-center(action="/add", method="POST")
    input(type = "text", name = "name", placeholder = "nom du produit")
    input(type = "text", name = "describe", placeholder = "description du produit")
    input(type="text", name="url", placeholder="url du produit")
    button(type = "submit") Add
