extends ../layout
block content 
  .container
    .col-md-6
      h1.text-center All products
      a(href="/add") Add products
      a(href="") delete
      ul
        each product in products
          li.name #{ product.name }    
          li #{ product.describe } 
          a(href=`/edit/${product.id}`) edit products
          li #{ product.url }
      
